body {
  font-family: Montserrat;
  margin: 0;
  background: #f5f6fa;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  background-image: auto;
  background-blend-mode: luminosity;
  width: 30%;
  border-radius: 50%;
  margin: 10px 0;
}

.citycare {
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  cursor: pointer;
}

.background {
  background: rgba(0, 0, 0, 0.6) url('../img/background.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;

}

.nav-list li a {
  text-decoration: none;
  color: black;
  padding: 26px 30px;
  transition: font 0.15s ease-out;
}

.nav-list li a:hover {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}

.rightNav {
  width: 30%;
  text-align: right;
  padding: 0 23px;
}

#search {
  padding: 5px 15px;
  width: 110px;
  font-size: 17px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
}

.navigation {
  background: #4f4f4f;
  background: linear-gradient(to right , white, gray);
  /* background-color:#9CA986; */
  /* background: #a8a3a3;
  background: linear-gradient(90deg,rgba(168, 163, 163, 0.17) 0%, rgba(79, 79, 79, 0.85) 4%, rgba(179, 179, 179, 0.92) 50%, rgba(99, 99, 99, 0.95) 100%);*/
}